In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
treasure_bills_df = pd.read_excel(r"data\treasuary bills .xlsm")

# Print data
treasure_bills_df.head()

,Date,4 WEEKS BANK DISCOUNT,4 WEEKS COUPON EQUIVALENT,8 WEEKS BANK DISCOUNT,8 WEEKS COUPON EQUIVALENT,13 WEEKS BANK DISCOUNT,13 WEEKS COUPON EQUIVALENT,17 WEEKS BANK DISCOUNT,17 WEEKS COUPON EQUIVALENT,26 WEEKS BANK DISCOUNT,26 WEEKS COUPON EQUIVALENT,52 WEEKS BANK DISCOUNT,52 WEEKS COUPON EQUIVALENT
0,2023-10-24,5.30,5.41,5.33,5.46,5.31,5.47,5.33,5.52,5.33,5.57,5.16,5.45
1,2023-10-23,5.31,5.42,5.33,5.46,5.32,5.48,5.32,5.51,5.32,5.56,5.14,5.43
2,2023-10-20,5.29,5.40,5.32,5.45,5.31,5.47,5.34,5.53,5.31,5.54,5.13,5.42
3,2023-10-19,5.31,5.42,5.33,5.46,5.33,5.49,5.35,5.54,5.32,5.56,5.16,5.45
4,2023-10-18,5.30,5.41,5.31,5.44,5.34,5.50,5.35,5.54,5.34,5.58,5.18,5.47

In [2]:
# 4 week bank discount
four_bd_mean = treasure_bills_df["4 WEEKS BANK DISCOUNT"].mean()
four_bd_median = treasure_bills_df["4 WEEKS BANK DISCOUNT"].median()
four_bd_min = treasure_bills_df["4 WEEKS BANK DISCOUNT"].min()
four_bd_max = treasure_bills_df["4 WEEKS BANK DISCOUNT"].max()
four_bd_var = treasure_bills_df["4 WEEKS BANK DISCOUNT"].var()

four_bd_data = pd.DataFrame({"4 Week BD mean": [four_bd_mean],
                             "4 Week BD mediam": [four_bd_median],
                             "4 Week BD min": [four_bd_min],
                             "4 Week BD max": [four_bd_max],
                             "4 Week BD var": [four_bd_var]})

four_bd_data

,4 Week BD mean,4 Week BD mediam,4 Week BD min,4 Week BD max,4 Week BD var
0,4.857598,5.09,3.29,5.78,0.274599

In [3]:
# 4 week coupon equivalent
four_ce_mean = treasure_bills_df["4 WEEKS COUPON EQUIVALENT"].mean()
four_ce_median = treasure_bills_df["4 WEEKS COUPON EQUIVALENT"].median()
four_ce_min = treasure_bills_df["4 WEEKS COUPON EQUIVALENT"].min()
four_ce_max = treasure_bills_df["4 WEEKS COUPON EQUIVALENT"].max()
four_ce_var = treasure_bills_df["4 WEEKS BANK DISCOUNT"].var()

four_ce_data = pd.DataFrame({"4 Week CE mean": [four_ce_mean],
                             "4 Week CE mediam": [four_ce_median],
                             "4 Week CE min": [four_ce_min],
                             "4 Week CE max": [four_ce_max],
                             "4 Week BD var": [four_ce_var]})

four_ce_data

,4 Week CE mean,4 Week CE mediam,4 Week CE min,4 Week CE max,4 Week BD var
0,4.954902,5.195,3.35,5.9,0.274599

In [4]:
# 8 week bank discount
eight_bd_mean = treasure_bills_df["8 WEEKS BANK DISCOUNT"].mean()
eight_bd_median = treasure_bills_df["8 WEEKS BANK DISCOUNT"].median()
eight_bd_min = treasure_bills_df["8 WEEKS BANK DISCOUNT"].min()
eight_bd_max = treasure_bills_df["8 WEEKS BANK DISCOUNT"].max()
eight_bd_var = treasure_bills_df["4 WEEKS BANK DISCOUNT"].var()

eight_bd_data = pd.DataFrame({"8 Week BD mean": [eight_bd_mean],
                             "8 Week BD mediam": [eight_bd_median],
                             "8 Week BD min": [eight_bd_min],
                             "8 Week BD max": [eight_bd_max],
                             "8 Week BD var": [eight_bd_var]})

eight_bd_data

,8 Week BD mean,8 Week BD mediam,8 Week BD min,8 Week BD max,8 Week BD var
0,4.960196,5.095,4.2,5.36,0.274599

,Date,4 WEEKS BANK DISCOUNT,4 WEEKS COUPON EQUIVALENT,8 WEEKS BANK DISCOUNT,8 WEEKS COUPON EQUIVALENT,13 WEEKS BANK DISCOUNT,13 WEEKS COUPON EQUIVALENT,17 WEEKS BANK DISCOUNT,17 WEEKS COUPON EQUIVALENT,26 WEEKS BANK DISCOUNT,26 WEEKS COUPON EQUIVALENT,52 WEEKS BANK DISCOUNT,52 WEEKS COUPON EQUIVALENT
0,2023-10-24,5.30,5.41,5.33,5.46,5.31,5.47,5.33,5.52,5.33,5.57,5.16,5.45
1,2023-10-23,5.31,5.42,5.33,5.46,5.32,5.48,5.32,5.51,5.32,5.56,5.14,5.43
2,2023-10-20,5.29,5.40,5.32,5.45,5.31,5.47,5.34,5.53,5.31,5.54,5.13,5.42